{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "Help": true,
    "Background": true,
    "Keyboard": true,
    "ResultDisplay": true,
    "Robot": true,
    "tween": true,
    "Text": true,
    "getConfigs": true,
    "createTexture": true,
    "World": true,
    "InputSet": true,
    "Game": true,
    "EASINGS": true,
    "COLORS": true,
    "RESULTS": true,
    "INPUT_TYPES": true,
    "InputItem": true,
    "console": true
  },
  "rules": {
    "no-unused-vars": 0,
    "no-console": 0,
    "no-debugger": 0,
    "quotes": [
      1,
      "single"
    ],
    "semi": 1
  }
}
